*.a
*.o
Makefile

/Filesystem
/Keyboard
/Launcher
/Xinitrc
/Xsession
/Xsession2
/amiwm
/autom4te.cache/
/config.log
/config.status
/config_util
/configure
/executecmd
/gram.tab.c
/gram.tab.h
/kbdlexer.c
/kbdmodule.tab.c
/kbdmodule.tab.h
/lex.c
/ppmtoinfo
/requestchoice
/system.amiwmrc
